<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="MDC" value="%X{requestId:-no-request-id} %X{user:-anonymous} %X{method:-no-method} %X{uri:-no-uri} %X{remoteAddr:-no-remote-addr}"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %highlight(%-5level) %yellow([%4thread]) [%green(${MDC})] %cyan(%-10logger{36}) - %highlight(%msg){ERROR=red, INFO=cyan} %n%ex</pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
